

.logo {
width: 30%;
min-width: 120px;
max-width: 300px;
}


.banner {
width: 100vw;
height: 33vh;
object-fit: cover;

}

.banner_title {
font-size: 5rem;
background-color: rgba(0, 0, 0, 0.5);
color: white;

}

.color_button {
color: white;

}

.footer_height {
height: 8vh;

}

.card_size {
height: 45vh;

}